.TableRow {
    background-color: white;
    color: var(--black);
    padding: 14px 25px 0px 25px;
    overflow: hidden;
    transition: height .3s;
}

.dropIndicator {
    width: 100%;
    background: var(--light-gray);
    position: relative;
    flex-shrink: 0;
    transition: opacity .4s;
    height: 72px;
}

.Root {
    border-top: 1px solid var(--light-gray);
    overflow-Y: scroll;
}

.line {
    width: 95.5%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #E1E1E1;
}

.Title {
    display: flex;
    gap: 6px;
    align-items: center;
}


.Title span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: var(--black);
}

.columnTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.SpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FlexRow {
    display: flex;
    align-items: center;
    width: 80%;
}