.Root {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.TableRow {
    border-radius: 12px;
    background-color: white;
    color: var(--black);
    padding: 18px 0;
    overflow: hidden;
}

.dropIndicator {
    width: 100%;
    background: var(--light-blue);
    border: 2px dashed var(--primary);
    border-radius: 12px;
    position: relative;
    flex-shrink: 0;
    transition: opacity .4s, height .3s;
    height: 82px;
}

.Tools {
    display: flex;
    gap: 16px;
    margin-bottom: 39px;
}

.Tools span {

    color: var(--black);

    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}


.Name, .Title {
    display: flex;
    gap: 6px;
    align-items: center;
}

.Name span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: var(--black);
}

.Title span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: var(--black);
}

.columnTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.SpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 26px;

}

.FlexRow {
    display: flex;
    align-items: center;
    width: 80%;
}