.Root {
    border: 1px solid #397AF5;
    border-radius: 12px;
    width: 32px;
    height: 32px;

    transition: background-color .2s;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--light-blue);
    color: var(--primary);
}

.Root:hover {
    background-color: var(--primary);
    color: var(--white);
}

.Root:hover path {
    fill: var(--white);
}

.Root path {
    fill: var(--primary);
    transition: fill .2s;

}