:root {
    --body-bg: #f4f4f4;
    --black: #212121;
    --white: #ffffff;

    --light-blue: #EDF2FF;
    --primary: #397AF5;

    --font-family: "Gilroy";

    --gray: #949494;
    --light-gray: #E1E1E1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family), serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    scrollbar-width: none;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

html,
body {
    max-width: 100vw;
    /*overflow-x: hidden;*/
}

body {
    background-color: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}
