:root {
    --body-bg: #f4f4f4;
    --black: #212121;
    --white: #ffffff;

    --light-blue: #EDF2FF;
    --primary: #397AF5;

    --font-family: "Gilroy";
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family), serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html,
body {
    max-width: 100vw;
    /*overflow-x: hidden;*/
}

body {
    background-color: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}
